footer.footer
    .wrap.wrap__footer
        .container.container_footer
            h2.head.head__footer SWEET BOX&reg;
            h3.lowHead.lowHead_footer помогает исполнять мечты
            .footer__socials
                a.footer__social.footer__social_vk(href='https://vk.com/sbox.club' target='_blank')
                a.footer__social.footer__social_inst(href='https://www.instagram.com/sbox.club' target='_blank')
                a.footer__social.footer__social_youtube(href='https://www.youtube.com/channel/UC8zt5PH876Tsiu7kWOykCGA/featured' target='_blank')
            .footer__contacts
                .footer__contact
                   a.footer__contact__mail.footer__contact__link(href='mailto:lenta@sbox.club') lenta@sbox.club
                .footer__contact
                   a.footer__contact__sbox.footer__contact__link(href='http://www.sbox.club' target="_blank") www.sbox.club
                .footer__contact
                   a.footer__contact__confitraid.footer__contact__link(href='http://www.confitrade.ru/' target="_blank") www.confitrade.ru
            .footer__text
                | Акция &#171;Sweet  Box&reg; помогает исполнять мечты&#187;.  Общий срок проведения Акции, включая срок выдачи призов, с&nbsp;20&nbsp;октября&nbsp;2018&nbsp;года по 12&nbsp;февраля&nbsp;2019&nbsp;года (включительно). Информацию об Организаторе Акции, правилах её проведения, количестве призов по результатам Акции, сроках, месте и порядке их получения смотрите на сайте
                a.footer__text__link(href='https://www.lenta.com/sboxclub')  www.lenta.com/sboxclub
            .footer__note * Включая налог на доходы физических лиц.
            .footer__copyright &copy; copyright 2018