footer.footer
    .wrap
        .container.container_footer
            h2.head.head__footer SWEET BOX&reg;
            h3.lowHead.lowHead_footer помогает исполнять мечты
            .footer__socials
                a.footer__social.footer__social_vk(href='https://vk.com/sbox.club' target='_blank')
                a.footer__social.footer__social_inst(href='https://www.instagram.com/sbox.club' target='_blank')
                a.footer__social.footer__social_youtube(href='https://www.youtube.com/channel/UC8zt5PH876Tsiu7kWOykCGA/featured' target='_blank')
            .footer__contacts
                .footer__contact
                   a.footer__contact__mail.footer__contact__link(href='mailto:lenta@sbox.club') lenta@sbox.club
                .footer__contact
                   a.footer__contact__sbox.footer__contact__link(href='https://www.sbox.club') www.sbox.club
                .footer__contact
                   a.footer__contact__confitraid.footer__contact__link(href='https://www.confitraide.ru') www.confitraide.ru
            .footer__text
                | Акция «Sweet  Box&reg; помогает исполнять мечты».  Общий срок проведения Акции, включая срок выдачи призов, с 20 октября 2018 года по 12 февраля 2019 года (включительно). Информацию об Организаторе Акции, правилах её проведения, количестве призов по результатам Акции, сроках, месте и порядке их получения смотрите на сайте www.lenta.com/sboxclub.
            .footer__note * Включая налог на доходы физических лиц.
            .footer__copyright &copy; copyright 2018