header.wrap.section#main
    .container
        img.imgback.imgback-1200(src="/special/sboxclub_20181022/images/main.jpg")
        img.imgback.imgback-764.imgback-764_header(src="/special/sboxclub_20181022/images/main-764.jpg")
