.wrap__menu
    .container__menu
        ul.menu
            li.menu__item.menu__item_main
                a.menu__link.menu__link__smoothScroll.active(href='#main') Главная
            li.menu__item.menu__item_prizes
                a.menu__link.menu__link__smoothScroll(href='#prizes') Призы
            li.menu__item.menu__item_steps
                a.menu__link.menu__link__smoothScroll(href='#steps') Механика
            li.menu__item.menu__item_winner
                a.menu__link.menu__link__smoothScroll.disable(href='#') Победители
            li.menu__item.menu__item_rules
                a.menu__link(href='images/rules.pdf' target='_blank') Правила
            li.menu__item.menu__item_lenta
                a.menu__link.menu__link_lentaLogo(href='https://lenta.com' target='_blank')
                    img.lentaLogo__img(src='images/lenta_logo.svg' alt='Логотип «Лента»' title='Логотип «Лента»')

        // мобильная версия
        .mobile_rectangle
            a.menuMobile__link_lentaLogo(href='https://lenta.com' target='_blank')
                img.menuMobile__lentaLogo__img(src='images/lenta_logo.svg' alt='Логотип «Лента»' title='Логотип «Лента»')
            .burger
                .burger__line.burger__line1
                .burger__line.burger__line2
                .burger__line.burger__line3

        ul.menuMobile
            li.menuMobile__item
                a.menuMobile__link.menu__link__smoothScroll(href='#main') Главная
            li.menuMobile__item
                a.menuMobile__link.menu__link__smoothScroll(href='#prizes') Призы
            li.menuMobile__item
                a.menuMobile__link.menu__link__smoothScroll(href='#steps') Механика
            li.menuMobile__item
                a.menuMobile__link.menu__link__smoothScroll.disable(href='#') Победители
            li.menuMobile__item
                a.menuMobile__link(href='images/rules.pdf' target='_blank') Правила

        // end -- мобильная версия

        a.link_sweetboxLogo(href='http://www.sbox.club' target='_blank')
            img.sweetboxLogo__img(src='images/sweetbox_logo.svg' alt='Логотип Sweet Box' title='Логотип Sweet Box&reg;')
