#ex1.modal
    .modal__inner
        a.link_sweetboxLogo(href='http://www.sbox.club' target='_blank')
            img.sweetboxLogo__img(src='/special/sboxclub_20181022/images/sweetbox_logo.svg' alt='Логотип Sweet Box' title='Логотип Sweet Box&reg;')
        .modal__info
            .modal__text Акция закончилась.
            .modal__text Информация о победителях в разделе «Победители»
        a.modal__close(href="#" rel="modal:close") закрыть

p.modal__trigger__open
    a(href="#ex1" rel="modal:open") Open Modal