.wrap.section#prizes
    .container
        .prizes
            .target
            h2.head.head__prize ПРИЗЫ
            .prizes__items.clearfix
                .prize
                    img.prize__img(src='images/prize1.jpg' alt='Приз №1' title='Приз №1')
                    .prize__text
                        strong
                            | Первый (главный) денежный
                            br
                            | приз Акции в размере
                        p.prize__sum 2 000 000
                            span.prize__rub  руб.*
                        | который может позволить Вам купить
                        strong  КВАРТИРУ
                .prize
                    img.prize__img(src='images/prize2.jpg' alt='Приз №2' title='Приз №2')
                    .prize__text
                        strong
                            | Второй денежный приз
                            br
                            | Акции в размере
                        p.prize__sum 461 538
                            span.prize__rub  руб.*
                        | который может позволить
                        | всей семье отправиться в путешествие заграницу, например, в
                        strong  ДИСНЕЙЛЕНД
                .prize
                    img.prize__img(src='images/prize3.jpg' alt='Приз №3' title='Приз №3')
                    .prize__text
                        strong
                            | Третий денежный приз
                            br
                            | Акции в размере
                        p.prize__sum 307 692
                            span.prize__rub  руб.*
                        | который может позволить
                        | Вам отправиться в путешествие, например, в
                        strong  СОЧИ ПАРК
