.wrap
    .container
        .product.clearfix
            h2.head.head__product В АКЦИИ УЧАСТВУЮТ SWEET&nbsp;BOX&reg;
            .boxs
                .box.box_left
                    h4.head__box.head__box_left СВИНКА &#171;ЛЕНТА&#187;
                    .text__box
                        p.text__box__p Новая коллекция от Sweet Box&reg; в гипермаркетах и супермаркетах сети &#171;Лента&#187;, посвящённая символу наступающего 2019 года &mdash; свинке. 
                        p.text__box__p Свинка поздравляет всех с наступающим Новым годом!
                        p.text__box__p Желает счастья, добра, успехов в начинаниях, удачи, крепкого здоровья, исполнения желаний и, конечно же, исполнения заветной мечты!
                        p.text__box__p В коллекции 7 игрушек.
                        p.text__box__p В каждом Sweet Box&reg; вкусный мармелад с натуральным фруктовым соком, листовка с описанием и большая игрушка.
                .box.box_right
                    h4.head__box.head__box_right &#171;Винни-Пух&#187;&copy; СОЮЗМУЛЬТФИЛЬМ
                    .text__box
                        p.text__box__p Новая коллекция Sweet Box&reg; по мотивам мультфильмов про забавного Винни-Пуха &copy; от &#171;Союзмультфильм&#187;.
                        p.text__box__p Добрый, обаятельный медвежонок Винни, маленький, но храбрый поросёнок Пятачок, задумчивый и грустный ослик Иа-Иа, мудрая, рассудительная Сова.
                        p.text__box__p В коллекции 8 игрушек.
                        p.text__box__p В каждом Sweet Box&reg; вкусный мармелад с натуральным фруктовым соком, листовка с описанием и большая игрушка.
                        p.text__box__p Собери легендарную коллекцию.

        img.imgback.imgback-1200(src="images/product.jpg")
        img.imgback-764(src="images/product-764.jpg")