.wrap
    .container.container_selfy
        .selfy
            h2.head.head__selfy СЕЛФИ-КОНКУРС
            .lowHead__selfy.imgback-1200 Для участия в конкурсе необходимо:
            img.selfy__img(src='/special/sboxclub_20181022/images/selfy.jpg')
            .lowHead__selfy.imgback-764 Для участия в конкурсе необходимо:
            .selfy__items.clearfix
                .selfy__item
                    .selfy__item__bullet.selfy__item__bullet_1
                    .selfy__item__text Установить мобильное приложение &#171;Sweet Box&reg;&#187;.
                .selfy__item
                    .selfy__item__bullet.selfy__item__bullet_2
                    .selfy__item__text В разделе &#171;Лента&#187; в подразделе &#171;Селфи-конкурс&#187; сделать селфи с 3D-моделями персонажей из коллекции Свинка &#171;Лента&#187; или селфи в масках по мотивам экслюзивной коллекции &#171;Sweet Box&reg;&#187; &#171;Винни-Пух&#187; &copy; &#171;Союзмультфильм&#187;.
                .selfy__item
                    .selfy__item__bullet.selfy__item__bullet_3
                    .selfy__item__text Поделиться работой в социальных сетях: Instagram, ВКонтакте с хештегом #sweetboxlenta
            .selfy__conditions.clearfix
                .selfy__conditions__head Обязательные условия участия в Селфи-конкурсе
                .selfy__conditions__wrap
                    .selfy__condition
                        .selfy__condition__bullet
                        .selfy__condition__text При размещении селфи в сети Instagram, необходимо быть подписчиком официальных аккаунтов &#171;Лента&#187; и &#171;Sweet Box&reg;&#187; в Instagram: lenta_com, sbox.club
                    .selfy__condition
                        .selfy__condition__bullet
                        .selfy__condition__text При размещении селфи в сети ВКонтакте, необходимо быть подписчиком официальных аккаунтов &#171;Лента&#187; и &#171;Sweet Box&reg;&#187; в ВКонтакте: lentacom, sbox.club
                .selfy__conditions__wrap
                    .selfy__condition
                        .selfy__condition__bullet
                        .selfy__condition__text Закрепить селфи-пост на стене собственной страницы и сохранять его до окончания срока проведения Акции
                    .selfy__condition
                        .selfy__condition__bullet
                        .selfy__condition__text Работа должна быть отмечена хештегом #sweetboxlenta
        img.imgback.imgback-1200_selfy(src='/special/sboxclub_20181022/images/selfy_end.jpg')