

//.wrap.wrap__selfywinner.clearfix
//    .container.container_selfywinner
//        .selfywinner
//            img.imgback.imgback-1200.imgback-1200_selfywinner(src='/special/sboxclub_20181022/images/selfy_winner.jpg')
//            img.imgback.imgback-764.imgback-764_selfywinner(src='/special/sboxclub_20181022/images/selfy_winner-764.jpg')
//            .selfywinner__info.clearfix
//                h2.head.head__selfywinner
//                    | Приз победителю
//                    br
//                    | селфи-конкурса
//            .selfywinner__text Победитель данного конкурса станет первым обладателем очередной новинки от &#171;Sweet Box&reg;&#187;, получит возможность сделать уникальный видеообзор этой новинки и представить его всему миру! Видео будет размещено на официальных интернет-ресурсах &#171;Sweet Box&reg;&#187;.