.wrap
    .container.container_selfywinner.clearfix
        .selfywinner
            h2.head.head__selfywinner
                | Приз победителю
                br
                | селфи-конкурса
            .selfywinner__text Победитель данного конкурса станет первым обладателем очередной новинки от Sweet Box&reg;, получит возможность сделать уникальный видеообзор этой новинки и представить его всему миру! Видео будет размещено на официальных интернет-ресурсах Sweet Box&reg;.
        img.imgback.imgback-1200.imgback-1200_selfywinner(src='images/selfy_winner.jpg')
        img.imgback.imgback-764.imgback-764_selfywinner(src='images/selfy_winner-764.jpg')