.wrap
    .social
        .social__item.social__vk
            a.social__link(href='https://vk.com/sbox.club ' target='_blank')
                img.social__img.social__img_vk(src='images/icon_vk_color.png' alt='Иконка социальной сети ВК' title='Иконка социальной сети ВК')
        .social__item.social__inst
            a.social__link(href='https://www.instagram.com/sbox.club/ ' target='_blank')
                img.social__img.social__img_inst(src='images/icon_inst_color.png' alt='Иконка инстаграма' title='Иконка инстаграма')
        .social__item.social__youtube
            a.social__link(href='https://www.youtube.com/channel/UC8zt5PH876Tsiu7kWOykCGA/featured ' target='_blank')
                img.social__img.social__img_youtube(src='images/icon_youtube_color.png' alt='Иконка Youtube' title='Иконка Youtube')