.wrap.section#steps
    .container
        .step1
            .target
            h2.head.head__step1 ЭТАП «4+1»
            .step1__items.clearfix
                .step1__step
                    .step__bullet.step__bullet_1
                    .step__text
                        | Посетить место проведения Акции с 20 октября 2018 года по 20 января 2019 год включительно.
                        br
                        br
                        | В этот период необходимо совершить покупки в месте проведения Акции акционного товара, а именно коробку-сюрприз  «Sweet Box&reg;» со сладостям и коллекционной игрушкой из следующих эксклюзивных коллекций:
                        ul.step__text_items
                            .step__text_item Свинка &#171;Лента&#187;;
                            .step__text_item &#171;Винни-Пух&#187;&copy; Союзмульфильм
                .step1__step
                    .step__bullet.step__bullet_2
                    .step__text
                        | Установить на мобильный телефон мобильное приложение &#171;Sweet Box&reg;&#187;, воспользовавшись QR-кодом, размещенным:
                        ul.step__text_items
                            .step__text_item в рекламно-информационных материалах Акции, находящихся в месте проведения Акции;
                            .step__text_item на внешней части упаковки акционного товара;
                            .step__text_item в промоматериалах Акции.
                        | Авторизоваться в мобильном приложении в период с 20 октября 2018 года по 20 января 2019 года включительно.
                img.step1__leaflet.imgback-764(src='images/leaflet.jpg' alt='Листовка с правилами Акции' title='Листовка с правилами Акции')
                .step1__step
                    .step__bullet.step__bullet_3
                    .step__text
                        ul.step__text_items.step__text_items_bold
                            .step__text_item Найти внутри упаковки приобретенного акционного товара листовку с промокодом Акции.
                            .step__text_item Отсканировать промокод Акции в мобильном приложении.
                        .apps.imgback-764
                            a.appstore(href='https://itunes.apple.com/ru/app/sweet-box/id1291424353?mt=8' target='_blank')
                                img.appstore__img(src='images/appstore.jpg' alt='Ссылка на приложение в App Store' title='Ссылка на приложение в App Store')
                            a.goooglestore(href='https://play.google.com/store/apps/details?id=mobi.swremagic.sweetbox&hl=ru' target='_blank')
                                img.goooglestore__img(src='images/googleplay.jpg' alt='Ссылка на приложение в Google Play' title='Ссылка на приложение в Google Play')
    .container__img_step1
        img.imgback.imgback-1200.step1_start__img(src='images/step1_start.jpg')
        img.imgback.imgback-764.step1_start__img(src='images/step1_start-764.jpg')
        .container__qrcode
            .container_app.linktoapps
                .qrcode.imgback-1200
                    img.qrcode__img(src='images/qrcode.jpg' alt='QR-код приложения' title='QR-код приложения')
                .apps.imgback-1200
                    a.appstore(href='https://itunes.apple.com/ru/app/sweet-box/id1291424353?mt=8' target='_blank')
                        img.appstore__img(src='images/appstore.jpg' alt='Ссылка на приложение в App Store' title='Ссылка на приложение в App Store')
                    a.goooglestore(href='https://play.google.com/store/apps/details?id=mobi.swremagic.sweetbox&hl=ru' target='_blank')
                        img.goooglestore__img(src='images/googleplay.jpg' alt='Ссылка на приложение в Google Play' title='Ссылка на приложение в Google Play')
    .step1_garantprize.clearfix
        .step1_garantprize__items
            .step1_garantprize__item
                .step1_garantprize__img.step1_garantprize__img_1
                .step1_garantprize__text Купи 4 любых коробочки-сюрприз Sweet Box&reg; из коллекций  &#171;Винни-Пух&#187; &copy; &#171;Союзмультфильм&#187; или Свинка &#171;Лента&#187;.
            .step1_garantprize__item
                .step1_garantprize__img.step1_garantprize__img_2
                .step1_garantprize__text Отсканируй 4 промокода в приложении Sweet Box&reg; и получи штрих-код в мобильном приложении.
            .step1_garantprize__item
                .step1_garantprize__img.step1_garantprize__img_3
                .step1_garantprize__text Предъяви штих-код в период с 20 октября 2018 года по 20 января 2019 года на кассе магазина &#171;Лента&#187; и получи Sweet Box&reg; за 1 рубль из любых других коллекций, не участвующих в Акции.
            .step1_garantprize__item
                .step1_garantprize__img.step1_garantprize__img_4
                .step1_garantprize__text За каждые 4 промокода Акции участник получает 1 звезду и автоматически становится участником второго этапа Акции &#171;Собирай звёзды&#187;.
    img.imgback.imgback-1200(src="images/step1_end.jpg")
    img.imgback.imgback-764(src="images/step1_end-764.jpg")
