.wrap
    .container
        .step2
            h2.head.head__step2 ЭТАП &#171;СОБИРАЙ ЗВЁЗДЫ&#187;
            .step2__lowHead Больше звёзд – больше Призов!!!
            .step1__step.imgback-764
                .step__bullet.step__bullet_4
                .step2__text
                    | В период с 20 октября 2018 года по 20 января 2019 года, включительно, надо набрать от 1 до 3 звёзд.
                    | Всего в ходе Акции можно получить не более 9 звёзд.
                    | Чем больше количество звезд, тем выше шансы участника на получение ценных призов.
                    br
                    br
                    | Количество набранных звёзд можно посмотреть в мобильном приложении разделе &#171;Мои победы&#187;.
            .step2__items.clearfix.imgback-1200
                .step2__item
                    img.step2__img(src='images/step2_slogan_left.jpg')
                .step2__item
                    .step2__bullet_4
                .step2__item
                    img.step2__img(src='images/step2_slogan_right.jpg')
    .container__img_step2.clearfix
        .step2__text_wrap.imgback-1200
            .step2__text
                | В период с 20 октября 2018 года по 20 января 2019 года, включительно, надо набрать от 1 до 3 звёзд.
                | Всего в ходе Акции можно получить не более 9 звёзд.
                | Чем больше количество звезд, тем выше шансы участника на получение ценных призов.
                br
                br
                | Количество набранных звёзд можно посмотреть в мобильном приложении разделе &#171;Мои победы&#187;.
        img.imgback.imgback-1200.step2__img__back(src='images/step2.jpg')
        img.imgback.imgback-764.step2__img__back(src='images/step2-764.jpg')