.wrap
    .container.container_toys
        img.imgback.imgback-1200(src="images/toys.jpg")
        img.imgback-764(src="images/toys-764.jpg")
        .toys
            h2.head.head__toys
                | Игрушки внутри
                br
                | коробочки Sweet BOX&reg;
            //h2.head.head__toys
            //    p Игрушки внутри
            //    p коробочки Sweet BOX&reg;