- var menuItems = {'home':'Home', 'about':'About Us', 'portfolio':'Portfolio', 'features':'Features', 'blog':'Blog', 'pricing':'Pricing', 'shortcodes':'Shortcodes', 'contact':'Contact'}

- var webAppDesign = {nameItem : 'webAppDesign', textHead : 'Web & App Design', textMain : 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'}

- var development = {nameItem : 'development', textHead : 'Development', textMain : 'Lorem ipsum dolor sit amet, adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet.'}

- var customization = {nameItem : 'customization', textHead : 'Customization', textMain : 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'}


- var marketing = {nameItem : 'marketing', textHead : 'Marketing', textMain : 'Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim.'}

- var chooserItems = {'all':'All', 'webDesign':'Web Design', 'mobileApp':'Mobile App', 'illustration':'Illustration', 'photography':'Photography'}

- var projectItems = [{nameProject : 'Claritas Etiam Processus', category : 'Photography, Nature', imageName : 'project00'},{nameProject : 'Quam Nutamus Farum', category : 'Graphic Design, Mock-Up', imageName : 'project01'},{nameProject : 'Lorem ipsum', category : 'Handmade', imageName : 'project02'},{nameProject : 'Ronsectetur adipisicing.', category : 'Photography, Nature', imageName : 'project03'},{nameProject : ' Dolor sit amet', category : 'Graphic Design, Mock-Up', imageName : 'project04'},{nameProject : 'Adipisicing elit', category : 'Handmade', imageName : 'project05'}]

- var advantagesItems = [{category: 'clients', number : '3587', textAbout : 'Satisfied Clients'}, {category: 'cups', number : '207', textAbout : 'Cups of coffee'}, {category: 'blog', number : '2500', textAbout : 'Blog posts'}, {category: 'likes', number : '873', textAbout : 'Likes'}, {category: 'launched', number : '900', textAbout : 'We launched'}]

- var forIdCounter = 'cups'

- var itemsForPosts = [{category:'leg', head:'Lorem ipsum dolor sit amet', textAbout:'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.'}, {category:'computer', head:'Sed diam nonummy nibh', textAbout:'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.'}, {category:'ship', head:'Lorem ipsum dolor sit amet', textAbout:'Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium.'}]

- var partners = ['barber', 'delicious', 'designers', 'royal']

- var widget = ['phone', 'mockup', 'book', 'pattern']