.wrap.section#winners
    .container.container__winners.clearfix
        .winners
            h2.head.head__winners Победители
            .winners__list
                .winner.winner_first
                    .winner__inner
                        .winner__grad I место
                        .winner__reward
                            img.winner__image.winner__image_first(src='')
                        .winner__name
                            .winner__name__inner
                                .winner__name__text Василий Пупкин
                .winner.winner_second.winner__inner
                    .winner__grad II место
                    .winner__reward
                        img.winner__image.winner__image_first(src='')
                    .winner__name
                        .winner__name__inner
                            .winner__name__text Мария Иванова
                .winner.winner_third.winner__inner
                    .winner__grad III место
                    .winner__reward
                        img.winner__image.winner__image_first(src='')
                    .winner__name
                        .winner__name__inner
                            .winner__name__text Сергей Скворцов