.modal__trigger__open {
  display: none;
}
.jquery-modal.blocker.current {
  z-index: 10000;
}
.modal {
  padding: 0;
  max-width: 850px;
  font-family: MyriadPro-Bold;
  background-color: #252e82;
}
.modal__inner {
  color: $lenta;
  text-align: center;
  //& .link_sweetboxLogo {
  //  width: 30%;
  //  left: 50%;
  //  transform: translateX(-50%);
  //}
}
.modal__info {
  width: 100%;
  padding-bottom: 20px;
}
.modal__text {
  text-align: center;
}
.modal__text_head {
  font-size: 375%;
  //padding-bottom: 10px;
  @media all and (max-width: 764px) {
    padding-top: 20px;
    font-size: 300%;
  }
  @media all and (max-width: 600px) {
    //padding-top: 30px;
    font-size: 180%;
  }
}
.modal__text_congrat {
  font-size: 250%;
  text-align: center;
  margin: 0 auto;
  @media all and (max-width: 764px) {
    font-size: 210%;
  }
  @media all and (max-width: 600px) {
    font-size: 120%;
  }
}
.modal__text_str {
  line-height: 100%;
  @media all and (max-width: 764px) {
    display: inline-block;
  }
  & a {
    text-decoration: none;
    border-bottom: 2px dotted $lenta;
    color: $lenta;
  }
}
//.modal__text_str1, .modal__text_str2 {
//  @media all and (max-width: 764px) {
//    font-size: 120%;
//  }
//}
.modal__info {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
}
//.modal__close {
//  text-decoration: none;
//  color: #FFF;
//  border: 1px solid #FFF;
//  padding: 5px 10px;
//  font-size: 75%;
//  transition: all .3s;
//  &:hover {
//    background-color: #21c7ff;
//  }
//}