extends ../layout.pug

block title
	title Sweet Box &reg; помогает исполнять мечты

block body
	body
		include ../_common/menu
		include ../_common/header
		include ../_common/product
		include ../_common/prize
		include ../_common/toys
		include ../_common/step1
		include ../_common/step2
		include ../_common/selfy
		include ../_common/social
		include ../_common/selfywinner
		include ../_common/winners
		include ../_common/footer

		script(src='/special/sboxclub_20181022/js/main.js')